<?xml version="1.0"?>
<monthly>


	<event>
		<id>1</id>
		<name>Reunión comité</name>
		<startdate>2021-8-5</startdate>
		<enddate>2021-8-5</enddate>
		<starttime>14:00</starttime>
		<endtime>20:00</endtime>
		<color>#ffb128</color>
		<url></url>
	</event>

	<event>
		<id>2</id>
		<name>Junta mensual con el administrador</name>
		<startdate>2021-8-30</startdate>
		<enddate>2021-8-30</enddate>
		<starttime>14:00</starttime>
		<endtime>20:00</endtime>
		<color>#ffb128</color>
		<url></url>
	</event>
	<event>
		<id>3</id>
		<name>Celebración fiestas patrias</name>
		<startdate>2021-9-18</startdate>
		<enddate>2021-9-18</enddate>
		<starttime>12:00</starttime>
		<endtime>20:00</endtime>
		<color>#ffb128</color>
		<url></url>
	</event>
	<event>
		<id>4</id>
		<name>Reunión por zoom</name>
		<startdate>2021-8-20</startdate>
		<enddate>2021-8-20</enddate>
		<starttime>10:00</starttime>
		<endtime>11:00</endtime>
		<color>#ffb128</color>
		<url></url>
	</event>
</monthly>
